$basicMargin: 5px;
$font: "Jetbrains Mono";
$sliderColor: rgb(255, 255, 255);

body{
  margin: 0;
  background-image: url("Photos/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
#Main{
  margin: 0;
}
#Text{
  margin: $basicMargin;
  height: auto;
}

.sliderbox{
  flex-grow: 1;
  margin: auto;
  float: left;
  padding: 10px;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  border-radius: 5px;
  height: 10px; 
  background: #d3d3d3; 
  outline: none;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  border-radius: 50%;
  background: $sliderColor; 
  cursor: pointer; 
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: $sliderColor; 
  cursor: pointer; 
}

.component{
  margin: 5px;
  display: flex;
  background: rgba($color: #1d1d1d, $alpha: 0.8);
  border-radius: 10px;
}

.slidericon{
  width: 64px;
  height: 64px;
  margin: auto;
}

.numb{
  padding: 0;
  width: 40px;
  border: none;
  font-weight: bold;
  margin: auto;
  text-align: center;
  font-size: 25px;
  background: none;
  outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  color: white;
}

.inputnumb{
  margin: auto;
  padding: 10px;
  font-family: $font;
  font-size: 25px;
}

#Values{
  display: flex; 
}

#Input{
  width: 50%;
}
#Results{
  margin: auto;
  font-size: 100px;
  font-family: $font;
  width: 50%;
  display: block;
  text-align: center;
  height: 100%;
  display: flex;
}

#scrap{
  margin-top: 0;
  width: 300px;
}

#scrapp{
  margin-bottom: 0;
}

.Result{
  background: rgba($color: #1d1d1d, $alpha: 0.8);
  border-radius: 10px;
  margin: auto;
  display: inline-block;
  padding: 30px;
}

